/* styles.css */
/* ロゴ画像のスタイル */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ロゴコンテナのスタイル */
#logo-container {
    display: flex;
    justify-content: center; /* 横方向（水平方向）の中央寄せ */
    align-items: center; /* 縦方向（垂直方向）の中央寄せ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: 500; /* ロゴを最前面に表示 */
}

/* ロゴ画像のスタイル */
#app-logo {
    width: 300px;
    max-width: 100%; /* ロゴがコンテナをはみ出さないようにする */
    max-height: 100%; /* ロゴがコンテナをはみ出さないようにする */
}

/* コンテンツのスタイル */
.content {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

/* アイコンのサイズと色 */
.icon-font {
    color:#2E769B;
    font-size: 36px;
}
/* アイコンのスタイル */
.left-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
/* カメラアイコンのスタイル */
.right-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/* 再生アイコンのスタイル */
.center-icon {
    position: fixed;
    bottom: 20px;
    text-align: center;
}
  
/* 地図のスタイル */
#map {
    width: 100%;
    height: 100%;
}

/* モーダルウィンドウのスタイル */
.modalScroll,
.ScrollContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .modal_bg {
    background: rgba(0, 0, 0, 0.32);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  
  .js-modal-close {
    color: #555;
  }
  
  .modalScroll {
    background:rgba(46, 118, 155, 0.8);
    height: 380px;
    width: 380px;
    max-height: 800px;
    padding: 10px;
    border-radius: 20px;
  }
  
  .modal_content {
    color: rgb(49, 49, 49);
    text-align: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #youtubePlayer {
    height: 360px;
    width: 360px;
  }
